* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-ham {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid hotpink; */
}

.menu-button {
  width: 50px;
  height: 6px;
  cursor: pointer;
  background: blue;
  border-radius: 5px;
  box-shadow: 0 2px 5px pink;
  transition: all 0.5s ease-in-out;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: blue;
  border-radius: 5px;
  box-shadow: 0 2px 5px pink;
  transition: all 0.5s ease-in-out;
}

.menu-button::before {
  transform: translateY(-16px);
}

.menu-button::after {
  transform: translateY(16px);
}

.open .menu-button {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

JEŚLI MAMY DWIE KLASY ZAPISANE PO SOBIE BEZ SPACJI, OZNACZA TO, ŻE OBIEKT MUSI MIEĆ TE DWIE KLASY

JEŚLI MAMY DWIE KLASY ZAPISANE PO SOBIE ZE SPACJĄ, OZNACZA TO, ŻE W PIERWSZYM ELEMENCIE NALEŻY SZUKAĆ DRUGIEGO


.menu-ham.open .menu-button::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-ham.open .menu-button::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


A JAVA SCRIPT
const menuBtn = document.querySelector('.menu-ham');
let menuOpen = false;
menuBtn.addEventListener('click', () => {
    if(!menuOpen) {
        menuBtn.classList.add('open');
        menuOpen = true;
    }
    else {
        menuBtn.classList.remove('open')
    menuOpen= false;
    
    }
})