body {
  background: linear-gradient(
    rgb(244, 219, 216, 0.25),
    rgb(224, 177, 203, 0.25)
  );
  background-attachment: fixed;
  margin: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100vh;
  color: #2a0800;
  width: 95vw;
  margin-top: 155px;
}

.navigation_top {
  background-color: rgb(192, 152, 145, 1);
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: fixed;
  top: 15px;
  border-radius: 25px;
}

.navigation_link {
  color: #5d4e60;
  text-decoration: none;
  font-size: 24px;
}
.navigation_link:hover {
  color: #7261a3;
}

/* .glowna {
  background: rgb(255, 255, 255, 0.25);
  margin-top: 50px;
  display: grid;
  grid-template: repeat(3, 33vw) / repeat (4, 25vw);
  grid-template-areas:
    "header header header header"
    "updates updates . opis"
    "footer footer footer footer";
  column-gap: 10px;
  row-gap: 10px;
}

.glowna__item {
  background: rgb(238, 130, 238, 0.25);
}

.header {
  grid-area: header;
}

.updates {
  grid-area: updates;
}

.opis {
  grid-area: opis;
}

.footer {
  grid-area: footer;
}


@media screen and (min-width: 450px) {


}



@media screen and (min-width: 1025px) {

} */
