body {
  background: linear-gradient(rgba(244, 219, 216, 0.25), rgba(224, 177, 203, 0.25));
  background-attachment: fixed;
  margin: 2px 2px;
  display: flex;
  justify-content: center; }

main {
  color: #2a0800;
  width: 95vw;
  margin-top: 120px;
  margin-bottom: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column; }

.navigation {
  background-color: #ceb2ad;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px 0px;
  display: none;
  z-index: 5; }
  .navigation_link {
    color: #5d4e60;
    text-decoration: none;
    font-size: 24px;
    display: block;
    margin-left: 30px; }
    .navigation_link:hover {
      color: #7261a3; }
  .navigation_hamburger {
    position: fixed;
    top: 23px;
    right: 15px;
    background-color: rgba(190, 168, 167, 0.75);
    border: transparent;
    border-radius: 15px;
    z-index: 6; }
    .navigation_hamburger_icon {
      height: 50px;
      width: 50px; }
  .navigation.navigation--open {
    display: block; }

.site_title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .site_title_hiragana {
    font-size: 16px;
    padding: 5px 0px 0px; }
  .site_title_kanji {
    font-size: 34px;
    padding: 0px 0px 10px; }

@media screen and (min-width: 449px) {
  .navigation {
    background-color: #c09891;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    left: auto;
    margin: 0px 0px 10px 0px;
    padding: 5px 0px;
    box-shadow: 0 0 5px rgba(62, 25, 41, 0.5);
    outline: 2px solid pink; }
    .navigation_link {
      font-size: 28px;
      margin: auto; }
    .navigation_hamburger {
      display: none; }
  main {
    height: 100%;
    color: #2a0800;
    width: 75vw;
    margin-top: 120px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(62, 25, 41, 0.25);
    font-size: 16px; } }

@media screen and (min-width: 799px) {
  main {
    font-size: 21px;
    margin-top: 70px; } }

@media screen and (min-width: 1439px) {
  main {
    width: 50vw; }
  .navigation {
    width: 50vw; } }

.particles_box {
  width: 100%;
  margin: 15px auto; }
  .particles_box_name {
    font-size: 44px;
    font-weight: bold; }
  .particles_box_bulletpoint {
    font-size: 18px;
    list-style-type: none;
    line-height: 32px;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(60deg, rgba(255, 192, 203, 0), #2a0800 5%, rgba(255, 192, 203, 0) 55%);
    border-image-slice: 1;
    padding-bottom: none;
    margin-bottom: 15px;
    margin-left: -40px;
    text-align: justify;
    /* border: 5px solid hotpink; */ }
    .particles_box_bulletpoint__example {
      padding-left: 25px;
      margin: 1px;
      /* border: 5px dotted pink; */ }
    .particles_box_bulletpoint__annotation {
      font-size: 12px; }

.particles_box_he {
  order: 7; }

.particles_box_ga {
  order: 1; }

.particles_box_wo {
  order: 3; }

.particles_box_to {
  order: 9; }

.particles_box_ni {
  order: 6; }

.particles_box_de {
  order: 5; }

.particles_box_no {
  order: 4; }

.particles_box_mo {
  order: 10; }

.particles_box_kara {
  order: 11; }

.particles_box_made {
  order: 12; }

@media screen and (min-width: 449px) {
  .particles_box {
    width: 90%;
    margin: 15px auto; }
    .particles_box_bulletpoint {
      border-image-source: linear-gradient(60deg, rgba(255, 192, 203, 0), #e9b9d5 5%, rgba(255, 192, 203, 0) 55%); } }
