body {
    height: 100vh;
    background: linear-gradient( #F4DBD8, #E0B1CB);
    color: #2A0800;
}

.particles_bullet_point {
    font-size: 18px;
    list-style-type: none;
    line-height: 32px;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(60deg,rgb(255, 255, 255, 1), rgb(255, 192, 203, 0) 55%);
    border-image-slice: 1;
    padding-bottom: none;
    padding-top: 12px;
}

.particles_name {
    font-size: 48px;
    font-weight: bold;
}

.particles-table {
    line-height: 44px;
}

