body {
  background: linear-gradient(
    rgb(244, 219, 216, 0.25),
    rgb(224, 177, 203, 0.25)
  );
  background-attachment: fixed;
  margin: 2px 2px;
  display: flex;
  justify-content: center;
}

main {
  height: 100vh;
  color: #2a0800;
  width: 95vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.navigation_top {
  background-color: rgb(206, 178, 173);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px 0px;
  display: none;
}

.navigation_link {
  color: #5d4e60;
  text-decoration: none;
  font-size: 24px;
  display: block;
  margin-left: 30px;
}
.navigation_link:hover {
  color: #7261a3;
}

.navigation--open {
  display: block;
}

button {
  position: fixed;
  top: 23px;
  right: 15px;
  background-color: rgb(190, 168, 167, 0.75);
  border: transparent;
  border-radius: 15px;
}
.hamburger_icon {
  height: 50px;
  width: 50px;
}

.vocabulary_sorted_title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vocabulary_sorted_title_hiragana {
  font-size: 16px;
  padding: 5px 0px 0px;
}

.vocabulary_sorted_title_kanji {
  font-size: 34px;
  padding: 0px 0px 10px;
}

/* .colors_whole_table {
  display: flex;
  flex-direction: column;
  margin: 5px;
} */

.colors_basic_row {
  width: 95%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [sample] 1fr [japanese] 2fr [polish] 2fr;
  grid-template-areas:
    "sample hiragana translation"
    "sample kanji translation";
  justify-items: center;
}

.colors_sample {
  grid-area: sample;
  height: 75px;
  width: 75px;
  border-radius: 50px;
}
.colors_translation {
  grid-area: translation;
  place-self: center;
}
.colors_hiragana {
  grid-area: hiragana;
  align-self: end;
}
.colors_kanji {
  grid-area: kanji;
  font-weight: bold;
}

.sample_white {
  background-image: radial-gradient(
    rgb(255, 255, 255, 1) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_black {
  background-image: radial-gradient(rgb(0, 0, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_pink {
  background-image: radial-gradient(
    rgb(255, 138, 191) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_peachy {
  background-image: radial-gradient(
    rgb(248, 164, 147) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_green {
  background-image: radial-gradient(rgb(56, 176, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_purple {
  background-image: radial-gradient(rgb(123, 44, 191) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_blue {
  background-image: radial-gradient(rgb(0, 166, 251) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_grey {
  background-image: radial-gradient(
    rgb(173, 181, 189) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_red {
  background-image: radial-gradient(rgb(208, 0, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_yellow {
  background-image: radial-gradient(rgb(255, 234, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_brown {
  background-image: radial-gradient(rgb(139, 94, 52) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_orange {
  background-image: radial-gradient(rgb(255, 133, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.needed_space {
  height: 2em;
}

/* TABLET ADJUSTMENTS FOR SIMILIAR LOOKING */

@media screen and (min-width: 450px) {
  .navigation_top {
    background-color: rgb(192, 152, 145, 1);
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    top: 15px;
    left: auto;
    margin: 0px auto;
    border-radius: 25px;
    padding: 5px 0px;
    box-shadow: 0 0 5px rgb(62, 25, 41, 0.5);
  }

  .navigation_link {
    font-size: 28px;
    margin: auto;
  }

  button {
    display: none;
  }
  main {
    height: 100%;
    color: #2a0800;
    width: 75vw;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(62, 25, 41, 0.25);
    font-size: 16px;
  }
  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 1fr [polish] 1fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 65%;
    margin: auto;
    column-gap: 15px;
  }

  .translation {
    font-size: 24px;
    justify-self: start;
  }

  .hiragana {
    font-size: 21px;
  }

  .kanji {
    font-size: 24px;
  }
}

@media screen and (min-width: 767px) {
  main {
    font-size: 21px;
  }

  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 1fr [polish] 1fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 90%;
    margin: auto;
    column-gap: 15px;
  }
}
@media screen and (min-width: 1023px) {
  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 2fr [polish] 2fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 90%;
    margin: auto;
  }

  .colors_sample_big {
    width: 15vw;
  }

  .colors_sample {
    grid-area: sample;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    justify-self: end;
  }

  .translation {
    font-size: 32px;
  }

  .hiragana {
    font-size: 28px;
  }

  .kanji {
    font-size: 32px;
  }
}

@media screen and (min-width: 1439px) {
  main {
    width: 50vw;
    font-size: 21px;
  }

  .navigation_top {
    width: 50vw;
  }

  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 2fr [polish] 2fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 75%;
    margin: 0px auto;
  }

  .colors_whole_table {
    width: 90%;
  }
}
