body {
  height: 100vh;
  background: linear-gradient(#f4dbd8, #e0b1cb);
  background-attachment: fixed;
  color: #2a0800;
  margin: 1px;
}

.funny_kanji_box {
  width: 75vw;
  margin: 15px auto;
}

.funny_kanji_main_kanji {
  font-size: 36px;
}

.funny_kanji_translation {
  font-size: 28px;
}

.similiar_looking_basic_row {
  background: linear-gradient(
    90deg,
    rgb(245, 245, 245, 0),
    rgb(245, 245, 245, 0.75) 15%,
    rgb(245, 245, 245, 0.75) 75%,
    rgb(245, 245, 245, 0)
  );
  width: 100vw;
  /* border: 4px solid red; */
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-areas:
    "translation_left hiragana_left hiragana_right translation_right"
    "translation_left kanji_left kanji_right translation_right";
}
.similiar_looking_translation_left {
  grid-area: translation_left;
}

.similiar_looking_hiragana_left {
  grid-area: hiragana_left;
}

.similiar_looking_kanji_left {
  grid-area: kanji_left;
}

.similiar_looking_translation_right {
  grid-area: translation_right;
}

.similiar_looking_hiragana_right {
  grid-area: hiragana_right;
}

.similiar_looking_kanji_right {
  grid-area: kanji_right;
}

.boxy {
  /* border: 1px solid pink; */
  text-align: center;
  padding: 1px;
  color: #2a0800;
}

.kanji {
  font-size: 24px;
  font-weight: bold;
  justify-items: center;
  align-self: start;
}

.hiragana {
  font-size: 14px;
  justify-self: center;
  align-self: flex-end;
}

.translation {
  font-size: 18px;
  place-self: center;
}

.needed_space {
  height: 2em;
}

.main_title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.pc_image {
  display: none;
}

/* TABLET ADJUSTMENTS FOR SIMILIAR LOOKING */

@media screen and (min-width: 450px) {
  body {
    height: 100vh;
    background: linear-gradient(#f4dbd8, #e0b1cb);
    background-attachment: fixed;
    color: #2a0800;
  }

  .similiar_looking_basic_row {
    background: linear-gradient(
      90deg,
      rgb(245, 245, 245, 0),
      rgb(245, 245, 245, 0.75) 15%,
      rgb(245, 245, 245, 0.75) 75%,
      rgb(245, 245, 245, 0)
    );

    width: 90vw;
    margin: auto;
    /* border: 4px solid red; */
    display: grid;
    grid-template-rows: auto;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
      "translation_left hiragana_left hiragana_right translation_right"
      "translation_left kanji_left kanji_right translation_right";
  }
  .main_title {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

/* PC ADJUSTMENTS FOR SIMILIAR LOOKING */

@media screen and (min-width: 1025px) {
  body {
    height: 100vh;
    background: linear-gradient(#f4dbd8, #e0b1cb);
    background-attachment: fixed;
    color: #2a0800;
  }

  main {
    width: 65vw;
  }

  .similiar_looking_basic_row {
    background: linear-gradient(
      90deg,
      rgb(245, 245, 245, 0),
      rgb(245, 245, 245, 0.75) 15%,
      rgb(245, 245, 245, 0.75) 75%,
      rgb(245, 245, 245, 0)
    );
    width: 55vw;
    /* border: 4px solid red; */
    display: grid;
    grid-template-rows: auto;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
      "translation_left hiragana_left hiragana_right translation_right"
      "translation_left kanji_left kanji_right translation_right";
  }
  .pc_image {
    display: flex;
    position: fixed;
    right: 2%;
  }
}
