body {
  background: linear-gradient(rgba(244, 219, 216, 0.25), rgba(224, 177, 203, 0.25));
  background-attachment: fixed;
  margin: 2px 2px;
  display: flex;
  justify-content: center; }

main {
  color: #2a0800;
  width: 95vw;
  margin-top: 120px;
  margin-bottom: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column; }

.navigation {
  background-color: #ceb2ad;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px 0px;
  display: none;
  z-index: 5; }
  .navigation_link {
    color: #5d4e60;
    text-decoration: none;
    font-size: 24px;
    display: block;
    margin-left: 30px; }
    .navigation_link:hover {
      color: #7261a3; }
  .navigation_hamburger {
    position: fixed;
    top: 23px;
    right: 15px;
    background-color: rgba(190, 168, 167, 0.75);
    border: transparent;
    border-radius: 15px;
    z-index: 6; }
    .navigation_hamburger_icon {
      height: 50px;
      width: 50px; }
  .navigation.navigation--open {
    display: block; }

.site_title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .site_title_hiragana {
    font-size: 16px;
    padding: 5px 0px 0px; }
  .site_title_kanji {
    font-size: 34px;
    padding: 0px 0px 10px; }

@media screen and (min-width: 449px) {
  .navigation {
    background-color: #c09891;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    left: auto;
    margin: 0px 0px 10px 0px;
    padding: 5px 0px;
    box-shadow: 0 0 5px rgba(62, 25, 41, 0.5);
    outline: 2px solid pink; }
    .navigation_link {
      font-size: 28px;
      margin: auto; }
    .navigation_hamburger {
      display: none; }
  main {
    height: 100%;
    color: #2a0800;
    width: 75vw;
    margin-top: 120px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(62, 25, 41, 0.25);
    font-size: 16px; } }

@media screen and (min-width: 799px) {
  main {
    font-size: 21px;
    margin-top: 70px; } }

@media screen and (min-width: 1439px) {
  main {
    width: 50vw; }
  .navigation {
    width: 50vw; } }

.funny_kanji_letter_box__title {
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 12px;
  margin-bottom: 12px;
  position: sticky;
  top: 0px;
  background: linear-gradient(90deg, white 70%, rgba(255, 192, 203, 0) 100%); }
  .funny_kanji_letter_box__title::before {
    content: "";
    width: 3px; }

.funny_kanji_box {
  padding-top: 2px; }
  .funny_kanji_box__main {
    font-size: 21px; }
  .funny_kanji_box__explanation_tip, .funny_kanji_box__translation {
    margin-left: 20px;
    line-height: 1.7; }

.link_to_form {
  display: inline-block; }

#funny_form {
  display: inline-block; }

@media screen and (min-width: 449px) {
  .page_description {
    margin: 30px 30px; }
  .funny_kanji_letter_box__title {
    height: 55px;
    margin-top: 12px;
    margin-bottom: 5px;
    top: 42px;
    background: linear-gradient(90deg, #e9b9d5 70%, white 100%); }
    .funny_kanji_letter_box__title::before {
      content: "";
      width: 30px; }
  .funny_kanji_box {
    padding-top: 2px; }
    .funny_kanji_box__main {
      padding-left: 40px; }
    .funny_kanji_box__explanation_tip, .funny_kanji_box__translation {
      padding-left: 40px; } }
