
body { //background-image: url("../images/background_benkyou.jpg"), url(../images/homonyms-hashi.png);
background-repeat: no-repeat;
background-position: top;
background-size: auto;
filter: grayscale(100%);}

.odnosnik a {
    color: black;
    background: rgb(204, 115, 204);
    display: inline;
}
.odnosnik { 
    background: blue;
    color:red;
}
div {
    background: plum;
    
}
