body {
  height: 100vh;
  background: linear-gradient(rgb(244, 219, 216, 0.25), rgb(224, 177, 203, 0.25));
  background-attachment: fixed;
  color: #2a0800;
  margin: auto;

}
 
main {
  background-color: rgba(14, 121, 170, 0.5);
  width: 75vw;
  border: 4px solid red;
  /* display: inline; */
} 

.main_title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
/* header {
  min-height: 75px;
  width: 100vw;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0px;


}
nav {
  padding: 15px;
  display: none;
}

.navigation--open {
  display:block;
}

.navigation_link {
  display: block;
  margin-bottom: 12px;
} */

 .hamburger {
  height: 75px;
}

.hamburger_icon {
  height: 50px;
  width: 50px;
  margin-right: 0;
  margin-left: auto;

} 

.colors_whole_table {
  display: flex;
  flex-direction: column;
}

.colors_basic_row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [sample] 1fr [japanese] 2fr [polish] 2fr;
  grid-template-areas:
    "sample hiragana translation"
    "sample kanji translation";
  justify-items: center;
}

.colors_whole_table {
  margin: 5px;
}

.colors_sample {
  grid-area: sample;
  height: 75px;
  width: 75px;
  border-radius: 50px;
}
.colors_translation {
  grid-area: translation;
  place-self: center;
}
.colors_hiragana {
  grid-area: hiragana;
  align-self: end;
}
.colors_kanji {
  grid-area: kanji;
  font-weight: bold;
}

.sample_white {
  background-image: radial-gradient(
    rgb(255, 255, 255, 1) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_black {
  background-image: radial-gradient(rgb(0, 0, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_pink {
  background-image: radial-gradient(
    rgb(255, 138, 191) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_peachy {
  background-image: radial-gradient(
    rgb(248, 164, 147) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_green {
  background-image: radial-gradient(rgb(56, 176, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_purple {
  background-image: radial-gradient(rgb(123, 44, 191) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_blue {
  background-image: radial-gradient(rgb(0, 166, 251) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_grey {
  background-image: radial-gradient(
    rgb(173, 181, 189) 50%,
    rgb(0, 0, 0, 0) 70%
  );
}

.sample_red {
  background-image: radial-gradient(rgb(208, 0, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_yellow {
  background-image: radial-gradient(rgb(255, 234, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_brown {
  background-image: radial-gradient(rgb(139, 94, 52) 50%, rgb(0, 0, 0, 0) 70%);
}

.sample_orange {
  background-image: radial-gradient(rgb(255, 133, 0) 50%, rgb(0, 0, 0, 0) 70%);
}

.needed_space {
  height: 2em;
}

.colors_sample_big {
  /* display: none;  */
}

@media screen and (min-width: 450px) {
  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 1fr [polish] 1fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 55vw;
    margin: auto;
  }

  .translation {
    font-size: 24px;
    justify-self: start;
  }

  .hiragana {
    font-size: 21px;
  }

  .kanji {
    font-size: 24px;
  }
}

@media screen and (min-width: 1023px) {
  .colors_basic_row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [sample] 1fr [japanese] 2fr [polish] 2fr;
    grid-template-areas:
      "sample hiragana translation"
      "sample kanji translation";
    justify-items: center;
    width: 35vw;
    margin: auto;
  }

  .colors_media_width_1025 {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .colors_sample_big {
  
    width: 15vw;
  }

  .colors_sample {
    grid-area: sample;
    height: 150px;
    width: 150px;
    border-radius: 50px;
    justify-self: end;
  }

  .translation {
    font-size: 32px;
  }

  .hiragana {
    font-size: 28px;
  }

  .kanji {
    font-size: 32px;
  }
}
